* {
    box-sizing: border-box;
    // overflow-y: hidden;
}

/* variables */ 

$cream: hsl(30, 38%, 92%);
$cyan: hsl(158, 36%, 37%);
$letter: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
$title: hsl(212, 21%, 14%);

// font family
// font-family: 'Creepster', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Fraunces', serif;



//mixin
@mixin desktop {
    @media all and (min-width: 1440px) {
        @content
    }
}



.body {
    background-color: $cream;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    @include desktop {
        flex-direction: row;
        // align-items: center;
        justify-content: center;

    }
}
.main {
   display: flex; 
   flex-direction: column;
   max-width: 60rem;
   
  

   @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60rem;
    height: 50rem;        
   }  
}

.picture img {
    // max-width: 100%;
    width: 100%;
    // height: auto;
    
    height: 100%;
    border-radius: 0.625em 0.625em 0 0;

    @include desktop {
        margin: 0;
         
    }
    
}

.container {
    padding-left: 1.875em;
    display: flex;
    flex-direction: column;
    background-color: $white;
    border-radius: 0 0 0.625em 0.625em;
    
    @include desktop {
      height: fit-content;  
      margin-bottom: 0;  
    }

    &__perfume {
        color: $letter;
        text-transform: uppercase;
        letter-spacing: 0.313em;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin: 0.938em 0 0.5em 0;
        font-size: 0.938em;
        
    }
    &__title {
        color: $title;
        text-transform: capitalize;
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 2.188em;
        margin: 0;
        

    }
    &__paraph {
        color: $letter;
        font-size: 0.875em;
        line-height: 1.75em;
        overflow-wrap: break-word;
        font-family: 'Montserrat', sans-serif;  
        margin: 0.75em 0 0.75em 0;         
    }
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    

    &__price {
        color: $cyan;
        font-family: 'Fraunces', serif;
        font-size: 2.188em;
        margin: 0.313em 0.938em 0.313em 0;
        

    }
    &__oldPrice {
        color: $letter;
        font-family: 'Fraunces', serif;
        font-weight: normal;
        text-decoration: line-through;
    
    }
}

.btn {
    background-color: $cyan;
    color: $white;
    font-family: 'Montserrat', sans-serif;  
    padding: 0.938em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    margin-right: 1.875em;
    margin-bottom: 1.875em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    &__cart {
        margin-right: 0.635em;
        font-size: 1.125em;
    }
    &__txt {
        font-size: 1.125em;
    }
}

.btn:hover {
    background-color: #2D828F;
}

.attribution {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0.625em;
    font-size: 0.875em;
    text-align: center;
    

}
a:link, a:visited, a:active {
    text-decoration:none;
    color: #2D828F;
}